body {
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: 400;   /* น้ำหนักตัวอักษรปกติ */
    font-optical-sizing: auto;
    font-style: normal;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
