body {
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.color {
    position: fixed;     
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;        
}

.litte {
    height: 20vh;
    background-color: #00a0f3;
}
.top {
    height: 80vh;
    background-color: #fafbf4;
}

.dm-sans {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
